
body {
    background-image: url('../site/imagens/camille-unknown-snow-story-01.gif');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    min-height: 100vh;
}
